.form {
    @media screen and (min-width: #{18 * $line-height-base}) {
      width: #{15 * $line-height-base};
    }
    &__label {
      @include vertical-rhythm(1.5rem, 1, 0);
    }

    &__input {
      -webkit-appearance: none;
      font-size: 1em;
      @include vertical-rhythm(1rem, 0.25, 0.25);
      border: 0;
      outline: 1px solid #000000;
      padding: ($line-height-base * 0.25) ($line-height-base * 0.5);
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(255,255,255,0.5)
    }

    &__button {
      -webkit-appearance: none;
      @include vertical-rhythm(1rem, 0.25, 0.25);
      width: 100%;
      display: block;
      padding: ($line-height-base * 0.25) ($line-height-base * 0.5);
      background-color: #000000;
      color:  #FFFFFF;
      border: 1px solid #FFFFFF;
      transition: all 0.15s linear;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #FFFFFF;
        color: #000000;
        border: 1px solid #000000;
      }
    }
}
