$font-size: 16px;
$line-height-ratio: 1.875;
$line-height-base: 1rem * $line-height-ratio;
// base line-height = 16px * 1.876 = 30px

html {
    font-size: $font-size;
    line-height: $line-height-ratio;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin vertical-rhythm($font-size, $bottom-rows: 1, $top-rows: 0, $use-height: false, $border: 0rem) {
    $font-size: $font-size;
    $border: $border;
    $multiplier: ceil($font-size / $line-height-base); // check if height-based element
    // if so use height property for height, otherwise use line-height property
    @if $use-height {
        $leftover: $line-height-base * $multiplier - $font-size;
        height: $font-size;
        margin-top: $line-height-base * $top-rows + $leftover / 2;
        margin-bottom: $line-height-base * $bottom-rows + $leftover / 2;
    }
    @else {
        // text based element (uses line-height)
        font-size: $font-size;
        line-height: $line-height-base * $multiplier;
        margin-top: $line-height-base * $top-rows;
        margin-bottom: $line-height-base * $bottom-rows - $border;
    }
}

@import 'reset';
@import 'breakpoints';
@import 'form';

body, html {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #000000;
}

#images {
  opacity: 0.4;
  position: relative;
  z-index: -1;
  .backgroundImage {
    position: fixed;
    min-height: 100%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  #top {
    &.fade-out {
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }
    &.visible {
      opacity: 1;
    }
    z-index: -1;
  }
  #bottom {
    z-index: -2;
  }
}

.content {
    z-index: 2;
    @include breakpoint('break-1') {
        width: #{map-get($breakpoints, break-1)};
    }
    .inner {
        z-index: 4;
        margin: $line-height-base;
    }
}

h1, h2, p, label {
    color: #ffffff;
    text-shadow: 0 0 36px black;
    text-shadow: 0 0 24px black;
}

h1 {
    @include vertical-rhythm(3rem, 1, 2);
    font-weight: bold;
}

h2 {
    @include vertical-rhythm(2rem, 0, 0);
    font-weight: bold;
}

p {
    @include vertical-rhythm(1.5rem, 1, 0);
}

.logo {
  height: #{5 * $line-height-base};
  margin-bottom: $line-height-base;
  -webkit-filter: drop-shadow(0 0 7px rgba(0,0,0,0.5));
  filter: drop-shadow(0 0 7px rgba(0,0,0,0.5));
}
